body {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 40px auto;
    width: auto;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

.table {
    border-collapse: collapse;
}

.table td {
    width: 28px;
    height: 28px;
    padding: 20px;
    font-size: 24px;
    font-family: "Consolas", monospace;
    text-align: center;
    border: 1px solid #333;
    cursor: pointer;
}

.table tr:first-child td {
    border-top-color: transparent;
}

.table tr:last-child td {
    border-bottom-color: transparent;
}

.table td:first-child {
    border-left-color: transparent;
}

.table td:last-child {
    border-right-color: transparent;
}

.resetButton {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background: none;
    font-size: 16px;
    border: 3px solid orange;
    border-radius: 5px;
}

.message {
    display: block;
    font-size: 16px;
    height: 20px;
    text-align: center;
}
